<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">DataTable</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
          
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
            <span class="input-group-append">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>

          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th>
              Phone
            </th>
            <th>
              Email
            </th>
            <th>
              Address
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td><input type="checkbox" /></td>
            <td><img [src]="item.img" height="30px" width="30px" style="border-radius: 5px;"> {{item.name}}</td>
            <td><i class="fa fa-whatsapp" aria-hidden="true"></i> {{item.phone}}</td>
            <td>{{item.email}}</td>
            <td><i class="fa fa-map-marker"></i> {{item.address}}</td>
            <td><button class="btn btn-primary">See Venue</button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
