<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-lg-4 col-md-12">
      <div class="card mcard_3">
        <div class="card-body">
          <img [src]="sanitizeImageUrl(imgURL)" class="rounded-circle shadow " width="130px" height="130px" alt="profile-image">
          <div class="main-file-input">
            <!-- <input type="file" (change)="onAdd($event)" [hidden]="toggleButton" class="custom-file-input"> -->
            <input type="file" ng2FileSelect [uploader]="uploader" [hidden]="toggleButton" (change)="onAdd($event)"
              class="custom-file-input" />
          </div>
          <h4 class="m-t-10">{{user.FIRST_NAME}} {{user.LAST_NAME}}</h4>

          <div class="row">
            <div class="col-12">
              <!-- <ul class="social-links list-unstyled sld">
                <li><a title="facebook" href="javascript:void(0);"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a title="twitter" href="javascript:void(0);"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a title="instagram" href="javascript:void(0);"><i class="fa fa-instagram fa-lg"></i></a></li>
              </ul> -->
              <p class="text-muted">{{user.ADDRESS}}</p>
            </div>
            <div class="col-md-12">
              <small class="text-muted">Email address: </small>
              <p>{{user.EMAIL}}</p>
            </div>
            <div class="col-md-12">
              <small class="text-muted">Phone: </small>
              <p>+ {{user.PHONE}}</p>
              <p>{{user.PHONE}}</p>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-8 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <span class="name-header"> {{user.FIRST_NAME}} {{user.LAST_NAME}}</span>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" *ngIf="toggleButton==true" (click)="enable()"><i
                  class="fa fa-edit fa-lg"></i></button>
              <button class="btn btn-danger" *ngIf="toggleButton==false" (click)="disable()"><i
                  class="fa fa-remove fa-lg"></i></button>
              <button class="btn btn-success" (click)="updateProfile()" *ngIf="toggleButton==false"
                (click)="disable()"><i class="fa fa-check fa-lg"></i></button>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="city">First Name</label>
              <input type="text" class="form-control" [(ngModel)]="user.FIRST_NAME" name="FIRST_NAME"
                #FIRST_NAME="ngModel" required [disabled]='toggleButton' placeholder="Enter First Name">
            </div>
            <div class="form-group col-sm-6">
              <label for="postal-code">Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="user.LAST_NAME" name="LAST_NAME" #LAST_NAME="ngModel"
                required [disabled]='toggleButton' placeholder="Enter Last Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="city">Email</label>
              <input type="text" class="form-control" [(ngModel)]="user.EMAIL" name="EMAIL" #EMAIL="ngModel"
                placeholder="Enter email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required
                [disabled]='toggleButton' placeholder="Enter Email">
            </div>
            <div class="form-group col-sm-6">
              <label for="postal-code">Phone</label>
              <input type="text" class="form-control" [(ngModel)]="user.PHONE" name="PHONE" #PHONE="ngModel"
                (keypress)="keyPress($event)" minlength=10 maxlength=10 [disabled]='toggleButton'
                placeholder="Enter Phone">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="city">Date of Birth</label>
              <!-- <input type="text" class="form-control" [disabled]='toggleButton' placeholder="03/03/2020"> -->
              <input type="text" class="form-control" [disabled]='toggleButton' [(ngModel)]="user.DOB" name="DOB"
                #DOB="ngModel" #dp="bsDatepicker" bsDatepicker>
            </div>
            <div class="form-group col-sm-6">
              <label for="street">Address</label>
              <!-- <input type="text" class="form-control" id="street" placeholder="Enter street name"> -->
              <textarea class="form-control" [(ngModel)]="user.ADDRESS" name="ADDRESS" #ADDRESS="ngModel"
                [disabled]='toggleButton' rows="2" placeholder="Enter your address"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="price">Price</label>
              <input type="text" class="form-control" [(ngModel)]="user.PRICE" name="PRICE" #PRICE="ngModel"
                [disabled]='toggleButton' placeholder="Enter your Price">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
