<ng4-loading-spinner></ng4-loading-spinner>
<div class="container">
  <div class="row ">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-3">Change Password</h4>
        </div>
        <div class="card-body">
          <p class="text-muted"></p>
          <form name="newpasswordForm" #newpasswordForm="ngForm" novalidate>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="password">Enter New Password :</label>
                <div class="input-group mb-4">
                  <input [type]="passwordType" class="form-control" [(ngModel)]="user.PASSWORD" name="PASSWORD"
                    #PASSWORD="ngModel" (change)="newpasswordForm.control.updateValueAndValidity()"
                    placeholder="Enter New password" required>
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="togglePassword()"><i [class]="eyeIcon"></i></span>
                  </div>
                </div>
                <span class="help-block" style="color: red;"
                  *ngIf="PASSWORD.errors && (PASSWORD.touched || PASSWORD.dirty && newpasswordForm.submitted)">Password
                  is required</span>
              </div>
              <div class="col-md-12 form-group">
                <label for="password">Retype New Password :</label>
                <div class="  input-group mb-4">
                  <input [type]="passwordType2" class="form-control" [(ngModel)]="user.confirmPassword"
                    name="confirmPassword" #confirmPassword="ngModel" validateEqual="PASSWORD"
                    placeholder="Retype password" required>
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="togglePassword2()"><i [class]="eyeIcon2"></i></span>
                  </div>
                </div>
                <span class="help-block" style="color: red;"
                  *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.required && userRegiForm.submitted)">Password
                  is required</span>
                <span class="help-block" style="color: red;"
                  *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)">Password
                  is not match</span>
              </div>
            </div>
      
          </form>
          <div class="row">
            <div class="col-md-6">
              <button type="button" [disabled]="!newpasswordForm.valid" (click)="changePassword()"
                class="btn btn-primary btn-block btn-ch mb-3">Submit</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-block btn-ch" routerLink="/dashboard">Cancel</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
