
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<ng4-loading-spinner></ng4-loading-spinner>
<form >
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-4">
          <div class="card p-4">
            <div class="card-body">
              <h1>Forgot Password</h1>
              <p class="text-muted">Forgot Your Password ?</p>
              <form name="form" (ngSubmit)="f.form.valid && forgot()" #f="ngForm" novalidate id="form_login">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="fpObj.EMAIL" name="EMAIL" #EMAIL="ngModel"  placeholder="Enter Registered Email" autocomplete="off" required>
                
                  </div>
                  <span class="help-block" style="color: red;"
                  *ngIf="EMAIL.errors && (EMAIL.valid || EMAIL.dirty || EMAIL.touched || f.submitted)">Email
                  is required and format should be
                  <i>john@doe.xyz</i></span>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" [disabled]= '!f.form.valid' >Submit</button>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0" routerLink="/pages/login">Back to Login</button>
                    </div>
                </div>
            </form>

            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
</form>