<header id="Home">
    <div class="bg-Blue">
       <div class="container">
          <div class="header-top row">
             <div class="header-top-txt col-md-4">
                <span><i class="fa fa-map-marker header-icon" aria-hidden="true"></i> 16 Winter Street, Peabody, MA 01960</span>
             </div>
             <div class="header-top-txt col-md-4">
                <span><i class="fa fa-phone header-icon" aria-hidden="true"></i> NEED HELP? CALL +1 (951) 123-4554</span>
             </div>
             <div class="header-top-txt col-md-4">
                <span><i class="fa fa-envelope header-icon" aria-hidden="true"></i> Email us: <a href="mailto:montupatidar43@gmail.com" title="montupatidar43@gmail.com">montupatidar43@gmail.com</a></span>
             </div>
             <div class="m-header-top-left">
                <p><i class="fa fa-phone header-icon" aria-hidden="true"></i> NEED HELP? CALL +1 (951) 123-4554</p>
             </div>
          </div>
       </div>
    </div>
    <div class="navbar">
        <div class="container">
       <div class="logo">
          <a routerLink="/pages/home">
              The Corporate <span>Connection</span>
              <!-- <img src="/assets/logo.png" alt="logo"> -->
             </a>
       </div>
       <a class="press" onclick="openNav()">
       <span></span>
       <span></span>
       <span></span>
       </a>
       <div class="menuhover" id="myNav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>            
          <ul class="menu overlay-content " >
             <li class="active tab"><a href="#Home" title="Home">Home</a></li>
             <li class="tab "><a href="#About" title="About">About</a></li>
             <li class="tab "><a  routerLink="/Admin"  title="Project Gallery">Admin</a></li>
             <li class="tab "><a href="#footer" title="Contact Us">Contact</a></li>
             <li class="tab "><a routerLink="/pages/login">Login</a></li>
             <li class="tab "><a routerLink="/pages/register" >Register</a></li>
          </ul>
          <div class="hover_header_top">
             <p><i class="fa fa-map-marker header_icon" aria-hidden="true"></i> 12 Royal Street, California USA</p>
             <p><a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com"><i class="fa fa-envelope header_3" aria-hidden="true"></i> contact@domain.com</a></p>
          </div>
          <div class="serch">
             <a class="fa fa-search"></a>
          </div>
       </div>
       <div id="search_ip">
         <div class="search_bx">
            <input type="text" name="search" placeholder="search">
            <a href="#"><i class="fa fa-search"></i></a>
         </div>
    </div>
  </div>
  </div>
  </header>
  <section class="banner">
    <div class="container">
          <div class="header_bottom_text">
             <div class=" banner_text table-cell" >
                <!-- <button href="#" title="Request a FREE Estimate" class="banner_btn">REQUEST A FREE EStTIMTE</button> -->
                <div class="banner-content-wrap">
                  <h1 class="banner-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">EVENT RENTAL, ARTIST BOOKING, VENUE HIRE,  DELHI NCR & BANGALORE </h1>
                  <div class="full-banner">
                     <div class="row">
                     <div class="col-md-6 mb-3">
                       <a routerLink="/venuereg"><i class="fa fa-building-o" aria-hidden="true"></i><br>
                    Registor Your Venue <br>
                    Property</a>
                  </div>
                  <div class="col-md-6">
                    <a routerLink="/venuereg"><i class="fa fa-users" aria-hidden="true"></i><br>
                     Registor Your <br>
                     Supply</a> 
                    </div>
                    <div class="col-md-6">
                    <a routerLink="/userreg"><i class="fa fa-user-circle-o" aria-hidden="true"></i><br>
                    Registor <br>
                    User</a> 
                   </div>
                   <div class="col-md-6">
                    <a routerLink="/#"><i class="fa fa-calendar" aria-hidden="true"></i><br>
                    Upcoming  <br>
                    Exam</a>
                    </div>
                  </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
  </section>
  <div class="about" id="About">
    <div class="container">
       <div class="row">
         <div class="col-xs-6 col-sm-6 ">
            <div class="about_text" data-aos="fade-left">
                <h5>First your Should Know</h5>
                <h2>About The <span>Corporate</span></h2>               
                <p>Lorem ips illud nonummy, novum tation et his. Royal scriptaset patrioque scribentur, at pro fugit erts verter emmolestiae, sed et vivendo ali Lorem ipsum eillud nonu here mmy,
                     novum tation et scripta patrioque scriben tur Quisque ligulas ipsum, euismod atras vulputate iltricies.
                     Coordinates for abs po oordi nates for abs positioning the closest position.</p>
               
                <a href="#" class="About_learn_btn">Learn More</a>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 ">
            <div class="about-img">
            <img src="../../../assets/img/images/banner.png" alt="">
       </div></div>
    </div>
  </div>
  
  <div class="WeDo" id="Services">
    <div class="container">
       <div class="row">
         
         <div class="col-md-7">
            <div class="WeDo_text" data-aos="fade-down" data-aos-easing="linear">
                <h5>Making Awesome Designs</h5>
                <h2>What We <span>Do</span></h2>               
                <p>Coordinates for abs po oordinates for abs positioning the closest positioned Coordinates for abs positioning the closest positioned parent box of the positioned ting that ments.</p>                     
            </div>
            <div class="row">
               <div class="col-xs-6 col-sm-6">
                 <div class="wed_process_bx" data-aos="fade-up">
                    <img src="../../../assets/img/images/cycle_icon.png" alt="Cycle">
                    <h4>Design & Development</h4>
                    <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum.</p>
                 </div> 
                  <div class="wed_process_bx" data-aos="fade-up">
                   <img src="../../../assets/img/images/direction_icon.png" alt="direction_icon">
                   <h4>Online Management</h4>
                   <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum.</p>
                 </div> 
               </div>
               <div class="col-xs-6 col-sm-6">
                <div class="wed_process_bx" data-aos="fade-up">
                    <img src="../../../assets/img/images/wave_icon.png" alt="wave_icon">
                    <h4>Creative Process</h4>
                    <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum.</p>
                 </div> 
                 
                 <div class="wed_process_bx" data-aos="fade-up" >
                   <img src="../../../assets/img/images/doubletick_icon.png" alt="doubletick_icon">
                   <h4>Friendly Support</h4>
                   <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum. </p>
                 </div> 
               </div>
            </div>
         </div>
         <div class="col-md-5">
          <div class="WeDo_img">
            <img src="../../../assets/img/images/your-artwork-here.png" alt="about_studio_img_1" class=" img-responsive">
            <!-- <img src="./assets/images/your-artwork-here.png" alt="about_studio_img_1" class="WeDo_img_hover img-responsive" data-aos="fade-down"> -->
         </div>
         </div>
       </div>
    </div>
  </div>
     <!-- carousel slider end -->
     <div class="chat_form">
       <div class="container">
          <div class="form">
             <h2 style="">Ready to chat?</h2>
             <form action="#">
                <div class="form-groups">
                   <i class="fa fa-user"></i>
                   <input type="text" class="input" id="exampleFormControlInput1" placeholder="Your Name" />
                </div>
                <div class="form-groups">
                   <i class="fa fa-envelope"></i>
                   <input type="email" class="input" id="exampleFormControlInput1" placeholder="Email" />
                </div>
                <div class="form-groups">
                   <i class="fa fa-phone"></i>
                   <input type="text" class="input" id="exampleFormControlInput1" placeholder="Phone" />
                </div>
                <div class="form-groups">
                   <textarea class="input" id="exampleFormControlTextarea1"  placeholder="How We Can Help You ?"></textarea>
                </div>
                <a href="#" title="Submit" title="hello" class="cheat_submit">SUBMIT</a>
             </form>
          </div>
       </div>
    </div>
    <footer id="footer">
       <div class="container">
          <div class="footer_main">
             <div class="footer_col1" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
                <div class="f_logo">
                   <a href="#">The Corporate <span>Connection</span></a>
                   <!-- <img src="/assets/footer_logo.png" alt="Footer Logo"> -->
                </div>
                <div class="call">(978) 532-3224</div>
                <address>16 Winter Street, Peabody, MA 01960</address>
                <a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com" class="mailto">info@marchandmartin.com</a>
                <div class="social">
                   <span><a href="#" title="Facebook"> <img src="../../../assets/img/images/1.png" alt="Facebook"> </a></span>
                   <span><a href="#" title="Twitter"> <img src="../../../assets/img/images/2.png" alt="Twitter"> </a></span>
                   <span><a href="#" title="Google"> <img src="../../../assets/img/images/3.png" alt="Google"> </a></span>
                </div>
             </div>
             <div data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
                <h3>Quick Links</h3>
                <ul class="f_link">
                   <li><a href="" title="About Us">About Us</a></li>
                   <li><a href="" title="Resources">Resources</a></li>
                   <li><a href="" title="Testimonials">Testimonials</a></li>
                   <li><a href="" title="Project Gallery">Project Gallery</a></li>
                   <li><a href="" title="FAQs">FAQs</a></li>
                </ul>
             </div>
             <div data-aos="fade-left" data-aos-duration="1200" data-aos-easing="linear">
                <h3>Products / Services</h3>
                <ul class="f_link">
                   <li><a href="" title="Icynene Insulation">Icynene Insulation</a></li>
                   <li><a href="" title="Traditional Closed Cell Polyurethane">Traditional Closed Cell Polyurethane </a></li>
                   <li><a href="" title="Thermal & Ignition Barrier">Thermal & Ignition Barrier</a></li>
                   <li><a href="" title="Infrared Thermography">Infrared Thermography</a></li>
                </ul>
             </div>
             <div class="Recent_Blogs" data-aos="fade-left" data-aos-duration="1200" data-aos-easing="linear">
                <h3>Recent Blogs</h3>
                <p class="color">How spray foam insulation warms up a cold room</p>
                <p >Now that winter is upon us, have you turned your 
                   heat up higher than you’d like?... <a href="" title="Read More">Read More</a>
                </p>
                <p class="color">Finding A Licensed Contractor For Your Foam Installation</p>
                <p>Not all insulation is created equal, for many different 
                   reasons. There are some instances... <a href="" title="Read More">Read More</a>
                </p>
             </div>
          </div>
       </div>
       <div class="container">
          <div class="footer_end" >
             <div class="copyright">
                <p>March & Martin &copy; 2018 All Rights Reserved.</p>
             </div>
             <div>
                <ul class="product">
                   <li><a href="#" title="The lcynono insulation System"> <img src="../../../assets/img/images/product.png" alt="ttt"></a></li>
                   <li><a href="#" title="Product Logo"> <img src="../../../assets/img/images/prodct1.png" alt="Product Logo"></a></li>
                   <li><a href="#" title="Product Logo"> <img src="../../../assets/img/images/prodct2.png" alt="Product Logo"></a></li>
                   <li><a href="#" title="Product Logo"> <img src="../../../assets/img/images/prodct3.png" alt="Product Logo"></a></li>
                   <li><a href="#" title="Product Logo"> <img src="../../../assets/img/images/prodct4.png" alt="Product Logo"></a></li>
                </ul>
             </div>
          </div>
       </div>
    </footer>