<div class="animated fadeIn">
  <div class="email-app mb-4">
      <!-- <nav>
          <a class="btn btn-danger btn-block" (click)="largeModal.show()">New Email</a>
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-star"></i> Stared</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-rocket"></i> Sent</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-trash-o"></i> Trash</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-bookmark"></i> Important<span
            class="badge badge-info">5</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
              </li>
          </ul>
      </nav> -->
      <main class="inbox">
          <div class="toolbar">
              <div class="btn-group">
                  <button type="button" routerLink="/compose-mail" class="btn btn-light"><span class="fa fa-envelope"></span></button>
              </div>
          </div>

          <ul class="messages">
              <li class="message unread" (click)="viewBead()">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date"><span class="fa fa-paper-clip"></span> Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date"><span class="fa fa-paper-clip"></span> Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message unread">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>

                  </a>
              </li>
              <li class="message">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message unread">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
              <li class="message">
                  <a>
                      <div class="actions">
                          <span class="action"><i class="fa fa-square-o"></i></span>
                          <span class="action"><i class="fa fa-star-o"></i></span>
                      </div>
                      <div class="header">
                          <span class="from">Lukasz Holeczek</span>
                          <span class="date">Today, 3:47 PM</span>
                      </div>
                      <div class="title">
                          Lorem ipsum dolor sit amet.
                      </div>
                      <div class="description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </div>
                  </a>
              </li>
          </ul>
      </main>
  </div>
</div>


<!-- <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: 'false'}">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1000px;">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Compose</h4>
              <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-2">
                      <label>From :</label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-group form-control" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <label>To :</label>
                  </div>
                  <div class="col-md-6">
                      <fieldset class="form-group">
                          <ng-select [items]="events" bindLabel="label" bindValue="value" placeholder="Select Events"></ng-select>
                      </fieldset>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <label>Subject :</label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-group form-control" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <label>Message :</label>
                  </div>
                  <div class="col-md-6">
                      <textarea placeholder="Message" class="form-group form-control" rows="10"></textarea>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <label>Attachment :</label>
                  </div>
                  <div class="col-md-6">
                      <input type="file" class="form-group" multiple (change)="getFileDetails($event)" />
                      <p class="note">Note: Upload file upto 25MB.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <button class="btn btn-primary" style="float: right;" type="button">Send</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->